build/
dist/
dmm_copy.py
dmm_old.py
pilot_run/
sample/
serial_com_debug.py
temp_serial_control_copy.py
test_copy.py
test_copy_2.py
test_copy_3.py
debug.py
main_copy.py
mainwindow_copy.ui
pilot_run.csv
sample.py
sample2.py
sample3.py
sample4.py
widget_sample.py
